<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- which provider-->
    <add key="provider" value="System.Data.SQLClient"/>
  </appSettings>
  <!-- Which connection string-->
  <connectionStrings>
    <add name="AutoLotSQLProvider" connectionString="Data Source=(local)\SQLEXPRESS;
         Initial Catalog= AutoLot; Integrated Security=SSPI"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=(local)\SQLEXPRESS;
         Initial Catalog= AutoLot; Integrated Security=SSPI"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>