<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name ="MagicEightBallServiceLib.MagicEightBallService">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="MagicEightBallServiceLib.IEightBall" />

        <!--Need to add this so MEX Knows the address of our service -->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8090/MagicEightBallService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>